$blue: #4091EC;
$green: #1fbba6;
$red: #f23564;

$darkgrey: #383b3b;
$grey: #888;
$lightgrey: #bdc1c5;
$lightergrey: #f5f7fa;
$white: #FFF;
$black: #000;

$fontname: "Open Sans";
$iconfont: "Material Icons";