@import "../../shared/shared";

.estagiarios_list-holder{
    background: $white;

    margin: 60px auto;

    .estagiarios_list-title{
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        
        padding: 30px 0 0;
    }

    .estagiarios_list{
        display: grid;

        min-width: 760px;
        padding: 30px 0;

        .estagiario_item{
            display: inline-grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            align-items: center;

            padding: 7.5px 0;

            font-size: 14px;

            transition: background .3s;

            &:not(:first-of-type):hover{
                background: $lightgrey;
            }

            .estagiario_actions{
                a{
                    display: inline-block;
                    vertical-align: middle;

                    margin-right: 10px;

                    font-size: 24px;
                    color: $blue;
                    font-family: $iconfont;

                    &.delete{
                        margin: 0;

                        color: $red;
                    }
                }
            }

            &:first-of-type{
                text-transform: uppercase;
                font-weight: 700;
            }

            > div{
                padding: 0 15px;
                word-wrap: break-word;
            }

            > :last-of-type{
                text-align: right;
            }
        }
    }
}