<div class="dragons_container container">
    <form class="dragon_form" (submit)="sendForm()" [formGroup]="form">
        <div class="dragon_title">Entre as informações do estagiário:</div>

        <label>
            <div class="form_label">person</div>
            <input type="text" class="input" placeholder="Nome" formControlName="name" autofocus>
        </label>

        <label>
            <div class="form_label">mail</div>
            <input type="text" class="input" placeholder="Email" formControlName="email">
        </label>

        <label>
            <div class="form_label">short_text</div>
            <input type="text" class="input" placeholder="CPF" formControlName="cpf">
        </label>

        <label>
            <div class="form_label">phone</div>
            <input type="text" class="input" placeholder="Telefone" formControlName="phoneNumber">
        </label>
    
        <div class="form_submit">
            <button class="button" type="submit">Enviar</button>
        </div>
    </form>
</div>