<div class="dragons_container container">
    <div class="dragonlist_title">Catálogo de dragões</div>

    <ul class="dragons_list" *ngIf="dragons">
        <li class="dragon_item">
            <div></div>
    
            <div>Nome do dragão</div>
            <div>Tipo de dragão</div>
            <div>Data de criação</div>
            <div>Ações</div>
        </li>
    
        <li class="dragon_item" *ngFor="let dragon of dragons">
            <div class="dragon_picture">
                <img src="/assets/banguela.png" alt="Sem foto" title="Sem foto">
            </div>
            
            <div title="{{ dragon.name }}">{{ dragon.name }}</div>
            <div title="{{ dragon.type }}">{{ dragon.type }}</div>
            <div title="{{ dragon.createdAt }}">{{ dragon.createdAt }}</div>
            <div class="dragon_actions">
                <a [routerLink]="['/main/view-dragon/', dragon.id]" title="Ver detalhes">open_in_browser</a>
                <a [routerLink]="['/main/edit-dragon/', dragon.id]" title="Editar">edit</a>
                <a href="javascript:;" class="delete" title="Deletar" (click)="deleteDragon(dragon.id)">close</a>
            </div>
        </li>
    </ul>
</div>