@import "../../shared/shared";

.dragons_container{
    background: $white;
    border-radius: 5px;

    overflow: auto;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    .dragonlist_title{
        font-size: 14px;
        
        padding: 30px 30px 0;
    }

    .dragons_list{
        display: grid;

        min-width: 760px;
        padding: 30px 0;

        .dragon_item{
            display: inline-grid;
            grid-template-columns: 80px calc(30% - 40px) calc(30% - 40px) 20% 20%;
            align-items: center;

            padding: 7.5px 0;

            font-size: 14px;

            transition: background .3s;

            &:not(:first-of-type):hover{
                background: $lightgrey;
            }

            .dragon_picture{
                font-size: 0;
                text-align: right;

                img{
                    border: 1px solid $black;
                    max-width: 100%;
                }
            }

            .dragon_actions{
                a{
                    display: inline-block;
                    vertical-align: middle;

                    margin-right: 10px;

                    font-size: 24px;
                    color: $blue;
                    font-family: $iconfont;

                    &.delete{
                        margin: 0;

                        color: $red;
                    }
                }
            }

            &:first-of-type{
                text-transform: uppercase;
                font-weight: 700;
            }

            > :last-of-type{
                text-align: right;
                padding-right: 30px;
            }

            > :not(:first-of-type):not(:last-of-type){
                padding-left: 15px;
            }
        }
    }
}

@media(max-width: 749px){
    .dragons_container{
        position: static;
    }
}