<div class="container">
    <form class="estagiario_form" (submit)="sendForm()" [formGroup]="form">
        <div class="form_title">Entre as informações do estagiário</div>

        <div class="return">
            <a [routerLink]="['/main/list-estagiarios/']" class="button" title="Estagiários">Visualizar estagiários</a>
        </div>
    
        <label>
            <div class="input_label">Nome:</div>
            <input type="text" class="input" placeholder="Nome" formControlName="name" autofocus>
        </label>

        <label>
            <div class="input_label">Email:</div>
            <input type="text" class="input" placeholder="Email" formControlName="email">
        </label>

        <label>
            <div class="input_label">CPF:</div>
            <input type="text" class="input" placeholder="CPF" formControlName="cpf">
        </label>

        <label>
            <div class="input_label">Telefone:</div>
            <input type="text" class="input" placeholder="Telefone" formControlName="phoneNumber">
        </label>
    
        <div class="form_submit">
            <button class="button" type="submit">Enviar</button>
        </div>
    </form>
</div>